.badge-notify{
   background:red;
   position:absolute;
   top:0px;
  }
.notification-box {
	padding: 10px 0;
	text-align: center;
	border: 1px solid #777;
}
.notification-box input {
	float: right;
	margin-right: 5px;
}
#notification_li{position:relative}
#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 40px;
margin-left: -170px;
width: 400px;
z-index: -1;
display: none;
}
#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 77px;
border-radius: 8px;
position: absolute;
margin-top: -2px;
font-size: 10px;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
.notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #EEEEEE;
/*width: 384px;*/
border-bottom: 1px solid #dddddd;
}
.notificationsBody {
padding: 0px 0px 0px 0px !important;
min-height:300px;
}
#notificationContainer .notificationsBody{
	max-height: 300px;
	overflow: scroll;
}
#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
.checked-True{
	
	min-height:50px;
	word-wrap: break-word;
}

.checked-False{
	min-height:50px;
	word-wrap: break-word;
	background-color: #F6F7F9;
}

.notificationsContent p{
	
	width :88%;
	margin: 0;
	display: inline-block;
}
.notificationsContent >div{
	width: 10%;
	display: inline-block;
	position: relative;
}
.notificationsContent >div .hide-post-popup {
	position: absolute;
	font-size: 8px;
	top :16px;
	right :-12px;
	background-color :#FFFFFF;
	width :100px;
	cursor: pointer;
	display: none;
}
.notificationsContent >div .hide-post-popup.visible {

	display: block;
}
.notificationsContent >p{
	padding: 12px 8px 2px 8px;
	vertical-align: top;
}
.notificationsContent button{
	float: right;
	font-size: 6px;
	width: 100%;
	/*height:10px;*/
	opacity:1;

}
.notificationsContent:hover button{
	opacity:1;
}

.hide-post{
	margin-top: 5px;
	cursor: pointer;
}
.check-post{
	margin-top: 20px;
	cursor: pointer;
}

.check-post-text{
	background: red;
}
.hide-post-test{
	background: teal;
}
.allnotification {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: scroll;
position: absolute;
top: 40px;
width: 600px;
height: 90%;
}
